<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Contactos</title>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <script>
        window.$ = window.jQuery = require('jquery');
    </script>
    <script type="text/javascript" src="../js/script.js"></script>
</head>

<body>
    <div class="container-fluid background-color">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">

                    <img src="../img/logo-txt.png" class="menu-img">


                    <div class="menu">
                        <ul>
                            <li><a href="home.html">Inicio</a></li>
                            <li><a href="history.html">Historia</a></li>
                            <li><a href="programs.html">Formación</a></li>
                            <li><a href="#" class="active">Contacto</a></li>
                            <li><a href="#" id="close">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="content ">
                            <div class="">
                                <h2>Contáctanos</h2>
                                <div class="contact">
                                    <left>
                                        <h3>Linea de Contacto:</h3>

                                        <li> <img src="/img/icon1.png">(+57 4) 2508328 </li>
                                        <li> <img src="/img/icon2.png">(+57) 3154094651 </li>

                                    </left>
                                </div>
                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group">
                                            <label>Nombre: *</label>
                                            <input type="text" name="name" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label>Email: *</label>
                                            <input type="email" name="email" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label>Asunto: *</label>
                                            <input type="text" name="asunto" class="form-control">
                                        </div>


                                        <div class="form-group">
                                            <label>Mensaje: *</label>
                                            <textarea name="mensaje" class="form-control" rows="5"></textarea>
                                        </div>


                                        <button class="btn btn-success">Enviar</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
