<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Historia</title>

    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">

    <script>
        window.$ = window.jQuery = require('jquery');
    </script>
    <script type="text/javascript" src="../js/script.js"></script>
</head>

<body>
    <div class="container-fluid background-color">
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar">
                    <img src="../img/logo-txt.png" class="menu-img">
                    <div class="menu">
                        <ul>
                            <li><a href="home.html">Inicio</a></li>
                            <li><a href="#" class="active">Historia</a></li>
                            <li><a href="programs.html">Programas</a></li>
                            <li><a href="contact.html">Contacto</a></li>
                            <li><a href="#" id="close">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="content">

                            <h1>RESEÑA HISTORICA</h1>
                            <p> En el año de 1937 inició labores en Medellín el “Colegio Industrial Coloveno”, con el fin de atender las necesidades educativas de la Iglesia Adventista del Séptimo Día. La tarea educativa comprendía todos los niveles de educación
                                y buscaba preparar profesionalmente a pastores, administradores, maestros y músicos. Al comenzar el año de 1950 se adoptó el nombre “Instituto Colombo–Venezolano” y continuó trabajando en los niveles de educación primaria,
                                secundaria y terciaria. El decreto 80 de 1980 (enero 22) emanado de la presidencia de la República define e l sistema de Educación Superior y tal definición obligó al “Instituto Colombo–Venezolano” a revisar sus estatutos.
                                El 18 de julio de 1981 se creó la Corporación Universitaria Adventista con el objetivo de impartir la educación post-secundaria en la modalidad universitaria. La UNAC recibió la personería Jurídica No. 8529 el 6 de junio
                                de 1983, expedida por el Ministerio de Educación Nacional. En el proceso de su desarrollo académico ha organizado cinco facultades desde las cuales se ofrecen los programas de pregrado:
                                <li>Facultad de Educación, Facultad de Teología</li>
                                <li> Facultad de Salud, Facultad de Ciencias Administrativas y Contables</li>
                                <li>Facultad de Ingenierías y una División de Investigaciones y posgrados que es la encargada de liderar los programas de posgrado que ofrece la Institución. La UNAC ha trabajado con miras a formar profesionales muy competitivos
                                    y de altas calidades morales y espirituales, por ello dentro de su quehacer cotidiano participa en diferentes procesos que velan por la calidad institucional. Se destaca la Acreditación otorgada por la Agencia Acreditadora
                                    Adventista (AAA), que ha certificado la calidad de la educación impartida en la UNAC. De igual manera se está participando en los procesos de calidad de la Educación Superior que promueve el Ministerio de Educación
                                    Nacional; el Registro Calificado para cada uno de sus programas, se constituye en la etapa previa antes de ingresar a los procesos de Acreditación de Alta Calidad tanto para los programas como para la institución en
                                    sí
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>