<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Programas</title>

        <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">

        <script>window.$ = window.jQuery = require('jquery');</script>
        <!-- <script type="text/javascript" src="../assets/js/jquery-3.3.1.js"></script> -->
        <script type="text/javascript" src="/js/script.js"></script>
    </head>

    <body>
        <div class="container-fluid background-color">
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar">
                        <center>
                            <img src="../img/logo-txt.png"  class="menu-img">
                        </center>

                        <div class="menu">
                            <ul>
                                <li><a href="home.html">Inicio</a></li>
                                <li><a href="history.html">Historia</a></li>
                                <li><a href="#" class="active">Programas</a></li>
                                <li><a href="contact.html">Contacto</a></li>
                                <li><a href="#" id="close">Cerrar sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="col-md-12">
                        <div class="container-fluid">
                            <div class="content content-center">
                                <div class="content-position">
                                    <h2></h2>

                                    <p class="info-text">
                                    <div class="container" >
                                        <div class = "left">
                                        <h2>PREGRADOS</h2>
                                        <li> Ingeniería Industrial
                                            <p>Código SNIES. 10729 / Modalidad presencial</P> </li>
                                                
                                        <li> Administración de Empresas                                                
                                            <p> Código SNIES. 2009 / Modalidad presencial</p></li>
                                                
                                        <li> Contaduría Pública                                               
                                            <p> Código SNIES. 4565 / Modalidad presencial</p></li>
                                                
                                        <li> Licenciatura en Español e Inglés                                                
                                            <p>Código SNIES. 106315 / Modalidad virtual</p></li>
                                                
                                        <li>Licenciatura en Educación Infantil                                                
                                            <p>Código SNIES. 106660 / Modalidad presencial</p></li>
                                                
                                        <li>Licenciatura en Educación Religiosa                                                
                                            <p>Código SNIES. 106645 / Modalidad presencial</p></li>
                                              
                                        <li>Licenciatura en Música                                                
                                            <p> Código SNIES. 19601 / Modalidad presencial</p></li>
                                        
                                        <li>Licenciatura en Matemáticas
                                            <p>Código SNIES. 106475 / Modalidad presencial</p></li>

                                        <li>Enfermería
                                            <p>Código SNIES. 54061 / Modalidad presencial</p></li>

                                        <li>Tecnología en APH
                                            <p>Código SNIES. 103862 / Modalidad presencial</p></li>

                                        <li>Tecnología en Mercadeo y Ventas
                                            <p>Código SNIES. 13341 / Modalidad presencial</p></li>

                                        <li>Tecnología en Gestión Empresarial
                                            <p>Código SNIES. 2005 / Modalidad presencial</p></li>

                                        <li>Ingeniería de Sistemas
                                            <p>Código SNIES. 101756/ Modalidad presencial</p></li>
                                        </div>
                                    
                                    <div  class="rigth" >
                                              
                                        <h2>POSPAGOS</h2>

                                        <li>Especialización en Gerencia de las Organizaciones
                                            <p>Código SNIES. 4810 / Modalidad presencial</p></li>

                                        <li>Especialización en Docencia
                                            <p>Código SNIES. 105327 / Modalidad virtual</p></li>

                                        <li>Especialización en Gestión Tributaria
                                            <p>Código SNIES. 102466 / Modalidad virtual</p></li>
                                     </div>
                                </div>
                                    </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>